/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --text-color: #000000;
  --bg-color: #03a9f4;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*==================== BASE ====================*/
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: hsl(243deg 41% 51%);
  color: var(--text-color);
  font-weight: 400;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3rem 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.sec__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 90%;
  margin: 40px auto;
  justify-content: center;
  z-index: 1;
}

/*==================== SOCIAL SHARE ====================*/
.share__box {
  --clr-primary: #03a9f4;
  --clr-accent: #060606;
  --clr-icon: #878787;
  --clr-border: #ebedf9;
  --clr-light: #ffffff;
  --clr-dark: #111111;
  --transition: all 0.2s ease;

  --clr-facebook: #1877f2;
  --clr-twitter: #46c1f6;
  --clr-instagram: #e1306c;
  --clr-whatsapp: #25d366;
  --clr-linkedin: #0072b1;

  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  background-color: var(--clr-light);
}
::selection {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.share__box header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--clr-border);
}
.share__box header h2 {
  font-size: 1.4rem;
  color: var(--clr-accent);
}
.share__box .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.share__box .content p {
  font-size: 1rem;
  color: var(--clr-accent);
}
.share__box .content .social__links {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.share__box .content .social__links .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid var(--clr-border);
  transition: var(--transition);
}
.share__box .content .social__links [data-attr="facebook"] {
  color: var(--clr-facebook);
}
.share__box .content .social__links [data-attr="facebook"].active,
.share__box .content .social__links [data-attr="facebook"]:hover {
  border-color: var(--clr-facebook);
}
.share__box .content .social__links [data-attr="twitter"] {
  color: var(--clr-twitter);
}
.share__box .content .social__links [data-attr="twitter"].active,
.share__box .content .social__links [data-attr="twitter"]:hover {
  border-color: var(--clr-twitter);
}
.share__box .content .social__links [data-attr="instagram"] {
  color: var(--clr-instagram);
}
.share__box .content .social__links [data-attr="instagram"].active,
.share__box .content .social__links [data-attr="instagram"]:hover {
  border-color: var(--clr-instagram);
}
.share__box .content .social__links [data-attr="whatsapp"] {
  color: var(--clr-whatsapp);
}
.share__box .content .social__links [data-attr="whatsapp"].active,
.share__box .content .social__links [data-attr="whatsapp"]:hover {
  border-color: var(--clr-whatsapp);
}
.share__box .content .social__links [data-attr="linkedin"] {
  color: var(--clr-linkedin);
}
.share__box .content .social__links [data-attr="linkedin"].active,
.share__box .content .social__links [data-attr="linkedin"]:hover {
  border-color: var(--clr-linkedin);
}
.share__box .content .field__wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6px;
  border-radius: 4px;
  border: 2px solid var(--clr-border);
  transition: var(--transition);
}
.share__box .content .field__wrp.active {
  border-color: var(--clr-primary);
}
.share__box .content .field__wrp i {
  width: 20px;
  color: var(--clr-icon);
  transition: var(--transition);
}
.share__box .content .field__wrp.active i {
  color: var(--clr-primary);
}
.share__box .content .field__wrp #inputField {
  flex: 1;
  padding: 0 10px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
  max-width: calc(100% - 110px);
  color: var(--clr-accent);
  transition: var(--transition);
}
.share__box .content .field__wrp.active #inputField {
  color: var(--clr-primary);
}
.share__box .content .field__wrp #copyBtn {
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  width: 90px;
  font-weight: 700;
  border: 2px solid var(--clr-primary);
  color: var(--clr-light);
  background: var(--clr-primary);
  transition: var(--transition);
}
.share__box .content .field__wrp #copyBtn:hover {
  background: var(--clr-light);
  color: var(--clr-primary);
}

/*==================== MEDIA QUERIES ====================*/

/* For small devices */
@media screen and (min-width: 500px) {
}

/* For medium devices */
@media screen and (min-width: 767px) {
}
body::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  bottom: -50%;
  left: 25%;
  box-shadow: 0 50px 400px rgb(48, 51, 107);
  transform: rotate(-180deg);
}

body::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  top: -50%;
  left: 25%;
  box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
  animation: animate_1 10s infinite;
}

/* gradient-bg-style */
.gradient-bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  top: 0%;
  left: -50%;
  box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  animation: animate_2 10s infinite;
}

.gradient-bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  top: 0%;
  right: -50%;
  bottom: -1000px;
  box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  animation: animate_3 10s infinite;
}

/* animate-1 */
@keyframes animate_1 {
  20% {
    box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
  }

  40% {
    box-shadow: 0 150px 300px rgb(142, 68, 173);
  }

  60% {
    box-shadow: 0 150px 300px rgba(93, 248, 240, 1);
  }

  80% {
    box-shadow: 0 150px 300px rgba(255, 165, 0, 1); /* Orange */
  }

  100% {
    box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
  }
}

@-webkit-keyframes animate_1 {
  20% {
    box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
  }

  40% {
    box-shadow: 0 150px 300px rgb(142, 68, 173);
  }

  60% {
    box-shadow: 0 150px 300px rgba(93, 248, 240, 1);
  }

  80% {
    box-shadow: 0 150px 300px rgba(255, 165, 0, 1); /* Orange */
  }

  100% {
    box-shadow: 0 150px 300px rgba(243, 86, 146, 1);
  }
}

/* animate-2 */
@keyframes animate_2 {
  20% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }

  40% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }

  60% {
    box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
  }

  80% {
    box-shadow: 0 0 350px 300px rgba(255, 165, 0, 0.7); /* Orange */
  }

  100% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }
}

@-webkit-keyframes animate_2 {
  20% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }

  40% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }

  60% {
    box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
  }

  80% {
    box-shadow: 0 0 350px 300px rgba(255, 165, 0, 0.7); /* Orange */
  }

  100% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }
}

/* animate-3 */
@keyframes animate_3 {
  20% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }

  40% {
    box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
  }

  60% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }

  80% {
    box-shadow: 0 0 350px 300px rgba(255, 165, 0, 1); /* Orange */
  }

  100% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }
}

@-webkit-keyframes animate_3 {
  20% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }

  40% {
    box-shadow: 0 0 350px 300px rgba(243, 86, 146, 0.7);
  }

  60% {
    box-shadow: 0 0 350px 300px rgb(142, 68, 173);
  }

  80% {
    box-shadow: 0 0 350px 300px rgba(255, 165, 0, 1); /* Orange */
  }

  100% {
    box-shadow: 0 0 350px 100px rgba(93, 248, 240, 1);
  }
}
